@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,500,700);

html { 
  background: url(http://i.giphy.com/26CYAE1nLf19gYXq8.gif) no-repeat center center fixed; 
  background-size: cover;
}

h1{
  margin: 0px 0px 0px 0px;
}
p{
  margin: 14px 0px 0px 0px; 
}
h3{
  margin: 0px 0px 14px 0px;
}

.container, .box a{
  color: white;
}
.container{
  font-family: 'Roboto', sans-serif;
  display: flex;
  display: -webkit-flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-top: 15%;
}

.container .box{
  background-color: rgba(157,113,94, 0.6);
  height: 208px;
  width: 208px;
}
.social, .greeting, .map{
  padding: 10px 10px 10px 10px;
}
a{
  text-decoration: none;
}
.email a{
  font-weight: 700;
  display: block;
  text-align: center;
  line-height: 228px;
  width: 228px;
  color: white;
  background-color: rgba(157,113,94, 0.6);
  background-size: cover;
  background-size: 228;
}
.email a:hover{
  background: rgba(157,113,94, 0.8);
}
.greeting a:hover{
  background: rgba(34,261,66, 0.5);
}
